<div data-controller="pull-requests">
  <div class="flex items-center justify-between w-full p-4 bg-gray-100 rounded-lg" data-pull-requests-target="header">
    <div class="flex-1 text-center">
      <h1 class="text-3xl w-full text-center mt-1" data-pull-requests-target="title"></h1>
    </div>

    <div class="ml-auto">
      <div class="flex justify-center w-full mt-3 space-x-2" data-controller="group">
        <div class="cursor-pointer hover:animate-spin" data-action="click->pull-requests#list" data-slug="<%= @slug %>">
          <img class="w-6" src="https://unpkg.com/@tabler/icons-png@3.29.0/icons/outline/refresh.png" alt="Refresh" />
        </div>


        <div class="cursor-pointer">
          <a href="/<%= @slug %>/favorites" alt="Favorites">
            <img class="w-6" src="https://unpkg.com/@tabler/icons-png@3.29.0/icons/outline/heart.png" alt="Trash" />
          </a>
        </div>
        <div class="cursor-pointer" data-action="click->group#delete" data-slug="<%= @slug %>">
          <img class="w-6" src="https://unpkg.com/@tabler/icons-png@3.29.0/icons/outline/trash.png" alt="Trash" />
        </div>
        <div class="cursor-pointer hover:animate-spin" data-action="click->modal#open click->form#load" data-slug="<%= @slug %>">
          <img class="w-6" src="https://unpkg.com/@tabler/icons-png@3.29.0/icons/outline/settings.png" alt="Settings" />
        </div>
      </div>
    </div>
  </div>

  <div class="max-w-3xl mx-auto p-6 bg-gray-100 rounded-lg shadow-lg hidden mt-8" data-pull-requests-target="emptyState">
    <h2 class="text-2xl font-bold text-gray-800 mb-4">Nothing to show yet</h2>
    <p class="text-gray-700 mb-4">
      There are no pull requests that match the criteria of this group yet. Once you start following users and they create pull requests, they will appear here.
    </p>
    <p class="text-gray-700 mb-4">
      If you think this is an error, check if this group's configuration is correct, with a valid token. Remember that the token must have the <strong>repo</strong> and <strong>read:org</strong> permissions, and if you are filtering by organization, you need to authorize the token on the organization before continuing.
    </p>
  </div>

  <section class="bg-gray-50 p-6 rounded-lg shadow-md border mt-8 border-gray-200" data-pull-requests-target="filters">
    <div class="flex flex-col sm:flex-row gap-4">
      <!-- Filter by State -->
      <div class="w-full sm:w-1/2">
        <label for="state-filter" class="block text-sm font-medium text-gray-700 mb-1">Filter by State</label>
        <select
          id="state-filter"
          class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          data-pull-requests-target="stateFilter"
          data-action="change->pull-requests#reloadList"
        >
          <option value="all" selected>All</option>
          <option value="reviewed">Reviewed</option>
          <option value="not-reviewed">Not Reviewed</option>
        </select>
      </div>

      <!-- Filter by Reviewer -->
      <div class="w-full sm:w-1/2">
        <label for="reviewer-filter" class="block text-sm font-medium text-gray-700 mb-1">Filter by My Review</label>
        <select
          id="reviewer-filter"
          class="block w-full px-4 py-2 text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500"
          data-pull-requests-target="reviewFilter"
          data-action="change->pull-requests#reloadList"
        >
          <option value="all" selected>All PRs</option>
          <option value="my-review">Only PRs Requiring My Review</option>
        </select>
      </div>
    </div>
  </section>


  <div class="py-6 bg-gray-50 rounded-lg mx-auto w-full" data-pull-requests-target="prList" data-controller="favorites">
    <ul id="pr-list" class="space-y-4">
      <!-- The list items will be dynamically populated here -->
    </ul>
  </div>
</div>
